<!-- Background + Search Result -->
<div id="banner-background" class="container-fluid banner-container-about-us">
    <div id="top-gap" class="row">
        <p><b></b></p>
    </div>
    <div id="page-title" class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" style='color:black'>				
            <h4 class="title">
                <b></b><span class="text-semibold"><b>Contact Us</b></span>
            </h4>
            <!-- <ul class="breadcrumb breadcrumb-caret" style="background-color: #f8f9fa00">
                <li><a href="https://www.trip2air.com"><b>Home</b> <b></b></a><i class="fa fa-angle-right" style="color:black"></i></li>
                <li><a href="#"><b></b> <b>Contact Us</b> <b></b></a></li>
            </ul> -->
        </div>	
        <div id="filler-2" class="col-md-6 col-lg-6 col-sm-6 col-xs-6"></div>			
    </div>				
</div>
<div id="about-us-middle-gap" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <b></b>
            <br/>
            <b></b>
        </div>
    </div>
</div>
<div id="contact-us-middle-section" class="container">			
        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text"><i class='fas fa-plane-departure' style='font-size:48px;color:red'></i></p>
                    <p class="card-text"><b>Domestic Booking / Refund:</b></p>
                    <p class="card-text"><b>contact@trip2air.com</b></p>						
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text"><i class='fas fa-phone' style='font-size:48px;color:green'></i></p>
                    <p class="card-text"><b>Toll free number:</b></p>
                    <p class="card-text"><b>1800 0000 1111 </b></p>						
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text"><i class='fas fa-plane-arrival' style='font-size:48px;color:blue'></i></p>
                    <p class="card-text"><b>International Booking / Refund:</b></p>
                    <p class="card-text"><b>contact@trip2air.com</b></p>						
                </div>
            </div>			
        </div>
</div>
<div id="about-us-middle-gap" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <b></b>
            <br/>
            <b></b>
        </div>
    </div>
</div>
<div id="about-us-middle-section" class="container">			
        <div id="contact-form" class="card bg-light">
            <div class="card-header"><h3 class="mb-0"><i class='fas fa-comments'></i> Contact Form</h3></div>
            <div class="card-body">
                <div class="container mt-3">						
                    <!-- Contact Form -->
                    <form class="form" id="contact-form">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="booking-id">Booking ID:</label>
                                            <input type="text" class="form-control form-control-lg" name="booking-id" id="booking-id" required="">
                                        </div>
                                    </div>                            
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="first-name">First Name:</label>
                                            <input type="text" class="form-control form-control-lg" name="first-name" id="first-name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="last-name">Last Name:</label>
                                            <input type="text" class="form-control form-control-lg " name="last-name" id="last-name" required="">
                                        </div>
                                    </div>
                                </div>									
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="contact-number">Contact Number:</label>
                                            <input type="tel" class="form-control form-control-lg" name="contact-number" id="contact-number" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control form-control-lg " name="email" id="email" required="">
                                        </div>
                                    </div>
                                </div>	
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="your-message">Your Message:</label>
                                            <textarea class="form-control" rows="5" id="your-message"></textarea>
                                        </div>
                                    </div>                            
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin"><span><i class='fas fa-paper-plane'></i>  SUBMIT</span></button>								
                    </form>
                </div>						
            </div>
        </div>
</div>
<div id="about-us-middle-gap" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <b></b>
            <br/>
            <b></b>
        </div>
    </div>
</div>